body{

display:flex;

background:#eef3f8;

}

.sidebar{

width:260px;

height:100vh;

background:#1e293b;

color:white;

}

.brand{

padding:25px;

font-size:22px;

font-weight:bold;

text-align:center;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:18px 25px;

cursor:pointer;

}

.sidebar li:hover{

background:#334155;

}

.active{

background:#2563eb;

}

.content{

flex:1;

padding:35px;

}

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-top:30px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.05);

}

.card h3{

font-size:42px;

color:#2563eb;

margin-bottom:10px;

}
